@charset "utf-8";
@import "myVariables";

//$paht-img-fix:"/web-comp/wharehouse.jpg";


.classname {
  color: $dark-red-color;
}
body {
  margin: 0px;
  font-family: $font-family-body;
  font-size:$font-size-body;
  line-height: 1.5;
  color:$motana-color;
}

* {
  box-sizing: border-box;
}

.container-header {
  /* contain of slide at top*/
  width: $full-width;
  height: 600px;
  position: $relative-position;
  top: 0;
  left: 0;
}
.slide-contain {
  display: block;
  transition: 2s ease-in opacity;
  opacity: 1;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: $absolut-position;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  margin-left: 20px;
  opacity: 0;
  color: $white-color;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.container-header:hover{
    .next,.prev{
      opacity: 1;
    }
}


/* Position the "next button" to the right */

.next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  text-decoration:none;
}

.dot {
  height: 4px;
  width: 35px;
  position: $relative-position;
  bottom: 80px;
  right:2%;/* it work with div style that conatain this dot */
  background-color: rgba(243, 240, 240, 0.5);
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}
/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .prev,
  .next {
    font-size: 11px
  }
}

.make-background,
.dot:hover {
  background-color: white;
}


/* Fading animation */
@mixin animate($animate-name,$duration){
  -webkit-animation-name: $animate-name;
    -moz-animation-name: $animate-name;
      -ms-animation-name:$animate-name;
       animation-name: $animate-name;
  -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
      -ms-animation-duration:$duration;
        animation-duration: $duration;

}
.fade {
 @include animate(fade,20s);
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.6;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  92% {
    opacity: 0.7;
  }
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  92% {
    opacity: 0.2;
  }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .prev,
  .next {
    font-size: 11px
  }
}

.background-img {
  /* slide image background  of top */
  width: $full-width;
  height: 600px;

}
.logo {
  /* div for logo side*/
  width: 30%;
  height: 91px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;

}

.logo img {
  width: auto;
  height: 51px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 50px;
}

.logo p {
  font-size: 14px;
  color: #3294FC;
  margin-top: 0px;
  margin-left: 50px;
}
.navigation-bar {
  width: $full-width;
  height: 91px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white-color;
  border-bottom: none;
}


/* Add background=none to navigation of about section logo in about div*/


.background-none {
  background: transparent;
}

.navbar-nav {
  height: 91px;
  background-color:$primary-color;
  padding-right: 20px;
  margin-right:-25px;
}

.navigation-list{
    li {
        margin-top: 20px;
        a.focus::after {/* make underline when mouse focus on nav list*/
          content: "";
          display: block;
          height: 2px;
          background-color: #fff;
          width: 25px;
          position: relative;
          margin: auto;
        }
    }
    li:nth-child(1){
      width:0px;
    }
}
.navbar-nav{
      li {
        a {
          color: white !important;
        }
      }
}
#nav-hide:after {
  content: "";
  position: absolute;
  top: 0;
  right: $full-width;
  border-width: 48px;
  border-style: solid;
  border-color: transparent #ffcb08 #ffcb08 transparent;
  margin-top:-25px;

}

.navigation-shadow {
  box-shadow: #000 2px 0px 4px;
  position: fixed;
}


/* style for make navigation list*/

.navbar-inverse{
  .navbar-toggle{
    border: none;
    .icon-bar {
      background-color: black;
    }
  }
  .navbar-toggle:focus,.navbar-toggle:hover{
    background-color: transparent;
  }
  .navbar-collapse,.navbar-form {
    border: none;
  }
}

/* style for Introduction in center of header*/

.intro-in-header {
  width: 70%;
  height: 100px;
  margin: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.54);
  position: $absolut-position;
  top: 250px;
  left: 15%;
  text-align: center;
  font-size: 20px;
}

.intro-in-header p {
  color: white;
  text-indent: 20px;
}


/* style for button in header*/

.button-head {
  position: $absolut-position;
  top: 400px;
  left: 43%;
  background-color: $primary-color;
  padding: 10px;
  border: none;
  font-weight: bold;
}

.button-head:hover {
  opacity: 0.7;
  color: white;
}
/* about section */
.container-about {
  background-color: rgba(188, 184, 184, 0.15);
}

.about-text {
  /* div contain only text of about */
  margin-top: 40px;
  margin-bottom: 40px;
}
/* title*/

.about-text h3 {
  margin: 0px;
  display: inline;
}

h3.yellow {
  color: $primary-color;
}

.about-text p {
  margin-top: 40px;
}


/* image contain*/

.about-contain-img {
  margin-top: 40px;
  position: $relative-position;
}

.about-image {
  width: $full-width;

}

.about-logo {
  /* div  to put logo in about*/
  width: 30%;
  height: 70px;
  position: $absolut-position;
  top: 0;
  left: 0;
  padding-left: 20px;
}

.about-logo img {
  width: 35%;
  height: 50px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 50px;
}

.about-logo p {
  font-size: 14px;
  color: #3294FC;
  margin-top: 0px;
  margin-left: 50px;
}
.product-title {
  width: $full-width;
  height: 80px;
  text-align: center;
}

.product-title h3 {
  font-size: 24px;
  color: $primary-color;
  padding: 5px;
  border-bottom: $primary-color 1px groove;
  display: inline-block;
}
.product-img  {
  width: 95%;
  /*height: 300px;*/
}
h4.caption {
  color: #16AC92;
  margin: 0px;
  font-size: 24px;
  margin-bottom: 40px;
}

.line-btm{
  width: 10%;text-align: center;border: 1px solid $primary-color;
}
/* for add float to image  in product section*/

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.padding-btm{
  padding-bottom:60px;
}
/* contain blur image  at bottom*/

.contain {
  width: 100%;
  height: 100%;
  background-image: url("/Picture/web-comp/wharehouse.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-img {
  width: 100%;
  height: 350px;
  margin-top: 10px;
  position: relative;
  /* The image used */
}
.more-on-intro {
  top: 100px;
  background-color: transparent;
  left:15%;
}

.more-on-btn {
  /* it take style more on style of button in header*/
  top: 200px;
}
/* follow us div*/
.follow-us-contain {
  width: 100%;
  height: 300px;
  color: $primary-color;
  text-align: center;
  background-color: rgba(188, 184, 184, 0.15);
}


/* style line (hr tag) in Bottom*/

hr.line-col-fade-left-right {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #e8e8e8, transparent);
  max-width: 400px;
}

hr.marg-md {
  margin: 3rem auto;
}
@mixin media-logo-style($width,$height,$magin-left){
  width: $width;
  height:$height;
  margin-left:$magin-left;
}
.contain-social-media {
  /* contain social media button*/
  @include media-logo-style(50%,100px,25%);
  margin-top: 60px;
}


/* style on social media image */

.Fb {
  @include media-logo-style(7%,48px,auto);
  margin-right: 30px;
}

.Tw {
  @include  media-logo-style(8%,60px,40px);
}

.Gp {
  @include  media-logo-style(8%,50px,40px);
}

.In {
  @include  media-logo-style(12%,60px,40px);
}

.Yt {
  @include  media-logo-style(8%,60px,40px);
}

.Fb:hover,
.Tw:hover,
.Gp:hover,
.In:hover,
.Yt:hover {
  opacity: 0.8;
}


/* style for make at bottom*/

.at-bottom {
  position: $absolut-position;
  background-color: $primary-color;
  text-align: center;
  color: $motana-color;
  width: $full-width;
  height: 200px;
  padding-top: 10px;

  ul {
    font-weight: bold;
    list-style: none;
  }
  li {

    display: inline-block;
    padding-left: 40px;
    a {
      text-decoration: none;
      color: $motana-color;
    }
    a:hover {
      color: $white-color;
    }
  }

  P{
    margin-top: 70px;
    a{
      color: white;
      cursor: pointer;
    }
  }
}



  /* Make Resposive of the website*/
  /* make responsive navigation bar */
  @media screen and (max-width: 980px) {
    .navbar-nav {
      height: 60px;
    }
    .navigation-bar {
      height: 60px;
    }
    .navigation-list {
      ul{
        li  {
          margin-top:6px;
        }
        li{
          a{
            font-size: 14px;
          }
        }
      }
    }
    #nav-hide:after {
      border-width: 30px;
      margin-top:-6px;
    }

    /* change style of logo in navbar with max-screen size =980px*/
    .logo {
      width: 200px;
      img {
        width: 100px;
        height: 35px;
        margin-bottom: 0px;
        margin-top:5px;
        margin-left:0px;
      }
      p {
        font-size: 12px;
        margin-top: 0px;
        margin-left:0px;
        position: absolute;
        z-index: 10;
      }
    }

  }
  /* responsive for ipad*/
  @media screen and (max-width: 850px) and (min-width: 769px) {
    .logo {
      padding-left: 0px;
      width: 150px;
      img {
        width: 100px;
        margin-left: 20px;
      }
      p {

        margin-left: 20px;
        font-size: 10px;
      }
    }
    .intro-in-header {
      height: 150px;
      top: 200px;
    }

    .dot {
      left: 3%;
    }

    .more-on-intro {
      top: 60px;
    }
  }
  @media screen and (max-width:768px) {
    body {
      font-size: 14px;
    }
    .container-header,
    .slide-contain,
    .background-img {
      height: 300px;
    }
    .slide-contain {
      .intro-in-header {

        width: 80%;
        height: 100px;
        position: absolute;
        top: 100px;
        left: 10%;
      }
    }
    .button-head {
      top: 220px;
      left: 42%;
      padding: 10px;
      font-size: 12px;
    }
    .about-contain-img {
      height: 300px;
      margin-left: 30px;
    }
    .about-image {
      /*height: 430px;*/
    }
    .about-logo {
      padding-left: 5px;
    }
    .about-logo {
      img {
        height: 30px;
        margin-left: 10px;
      }
      p {
        font-size: 11px;
        color: white;
        margin-left: 10px;
      }
    }

    .product-img  {
      width: 90%;
      /*height: 200px;*/
      margin-left: 15px;
    }
    .more-on-btn {
      top: 240px;
      left: 40%;
    }
    .at-bottom {
      ul {
        font-size: 14px;
      }
    }
    .contain-social-media {
      /* contain social media button*/
      width: 70%;
      margin-left: 15%;
    }
    .intro-in-header {
      height: 150px;
      top: 200px;
      font-size: 16px;
    }

    .dot {
      left: 1%;
    }

  }
  @media screen and (max-width: 767px){
    .logo {
      padding-left: 0px;
      width: 200px;
      img {
        width: 100px;
        height: 40px;
        margin-left: 20px;
      }
      p {
        margin-left: 20px;
        font-size: 10px;
      }
    }

    .navigation-list{
      ul{
        li{
          a.focus::after {
            margin: 0;
           }
          }
        }
    }

    .navbar-nav {
      height: auto;
      margin: 7.5px -15px;
      margin-top: 12px;
    }
    .more-on-intro {
      top: 60px;
      background-color: transparent;
      left: 15%;
    }
  }
  @media screen and (max-width: 500px) and (min-width: 416px) {
    .slide-contain {
      .intro-in-header {

        width: 80%;
        height: 150px;
        position: absolute;
        top: 80px;
        left: 10%;
        font-size: 14px;

        p {
          margin-top: 20px;
        }
      }
      .button-head {
        opacity: 0;
      }
    }
  }

  /* responsive for smartphone 415px */
  @media screen and (max-width:415px) {
    body {
      font-size: 14px;
    }
    .container-header,
    .slide-contain,
    .background-img {
      height: 270px;
    }
    .slide-contain {
      .intro-in-header {
        width: 80%;
        height: 100px;
        position: absolute;
        top: 100px;
        left: 10%;
        font-size: 11px;
        p {
          margin-top: 20px;
        }
      }
    }
    .button-head {
      opacity: 0;
    }
    .about-contain-img {
      height: 150px;
      margin-top: 20px;
    }
    .about-image {
      /*height: 360px;*/
    }
    .about-logo {
      width: 50%;
      padding-left: 5px;
      img {
        height: 30px;
        margin-left: 10px;
      }
      p {
        font-size: 11px;
        color: white;
        margin-left: 10px;
      }
    }


    .at-bottom {
      height: 300px;
      p {
        font-size: 11px;
      }
      ul {
        li {
          display: list-item;
          padding-left: 10px;
        }
      }
    }
    .more-on-btn {
      top: 240px;
      left: 30%;
    }
    .container .line-btm{
      width:60%;
    }
  }
  @media screen and (max-width: 506px) and (min-width: 333px) {

    .contain-social-media {
      /* contain social media button*/
      width: 60%;
      margin-left: 20%;
    }
    .Fb {
      @include media-logo-style(10%,45%,auto);
      margin-right: 0px;
    }
    .Tw {
      @include media-logo-style(10%,57%,20px);
    }
    .Gp {
      @include media-logo-style(10%,47%,20px);
    }
    .In {
      @include media-logo-style(14%,47%,20px);
    }
    .Yt {
      @include media-logo-style(10%,57%,20px);
    }
    .at-bottom{
      ul {
        font-size: 14px;
        margin-right: 30px;
      }
    }

  }

  @media screen and (max-width:378px) {
    .logo {
      padding-left: 0px;
      width:200px;
      img {
        width: 100px;
        height: 40px;
        margin-left: 20px;
      }
      p {
        margin-left: 20px;
        font-size: 10px;
      }
    }

    .button-head {
      display: none;
    }

    .about-logo {
      width: 50%;
      padding-left: 5px;

      img {
        height: 25px;
        margin-left: 10px;
      }
      p {
        font-size: 11px;
        color: white;
        margin-left: 10px;
      }
    }
    .container{
      .line-btm {
        width: 60%;
      }
    }
    .bottom-img{
      p {
        font-size: 11px;
      }
    }
    .more-on-btn {
      top: 240px;
      left: 30%;
      display: block;
    }

  }

  @media screen and (max-width: 332px)  {
    .contain-social-media {
      /* contain social media button*/
      width: 60%;
      margin-left: 20%;
    }
    .Fb {
      @include  media-logo-style(10%,45px,auto);
      margin-right: 0px;
    }
    .Tw {
      @include  media-logo-style(10%,57px,16px);

    }
    .Gp {
      @include  media-logo-style(10%,47px,16px);
    }
    .In {
      @include  media-logo-style(14%,47px,16px);
    }
    .Yt {
      @include  media-logo-style(10%,57px,16px);
    }
    .at-bottom {
      ul {
        font-size: 14px;
        margin-right: 30px;
      }
    }

  }
