/* variable*/
$dark-red-color:#C81013;
$font-family-body:Roboto Condensed, serif;
$motana-color:#373a3c;
$font-size-body:18px;
$full-width:100%;
$relative-position:relative;
$absolut-position:absolute;
$white-color:white;
$primary-color: #ffcb08;